/* Font Linking */
@font-face {
    font-family: 'Aeonik';
    src: url('assets/Aeonik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('assets/Aeonik-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('assets/Aeonik-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


/* Global Styles */

body {
    font-family: 'Aeonik';
    background-color: #F2F2F5;
    text-align: center;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

/* Navbar */

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 50px 30px;
    text-align: center;
}

nav img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 170px;
}

nav i {
    font-size: 30px;
    color: white;
    margin-left: 10px;
}


/* Dashboard Styling */

#dashboard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin: 15px;
    margin-top: 30px;
}


/* Dougnut Wheel */

#doughnutWheel {
    font-family: 'Aeonik';
}

.wheel-container {
    position: relative;
}


/* Total Project Costs */

#totalEstimatedCostDisplayOutside,
#totalActualCostDisplayOutside {
    display: flex;
    flex-direction: column;
}

.total-project-costs {
    text-align: left;
}

.percentage-notice {
    font-size: 9px;
    margin-bottom: 30px;
}

/* Pricing Breakdown Horizontal Chart */

#lineChart {
    width: 100%;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.segment {
    height: 100%;
    position: absolute;
}

.segment:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.segment:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Pricing Breakdown Table */

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: none;
    background: transparent;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
}

thead th {
    text-align: left;
}

.color-square {
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 3px;
}

td:nth-child(1),
th:nth-child(1) {
    width: 16;
}

td:nth-child(2),
th:nth-child(2) {
    width: 40;
}

td:nth-child(3),
th:nth-child(3) {
    text-align: center;
    width: 20;
}

td:nth-child(4),
th:nth-child(4) {
    text-align: center;
    width: 20;
}


/* Scrollable Tabs */

#scrollable-tabs {
    margin: 15px;
    margin-top: 30px;
}

.scrollable-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.scrollable-item {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 16px;
    background-color: #f2f2f200;
    padding: 8px 35px;
    border-radius: 58px;
}

.active {
    background: #000000;
    color: #F2F2F5;
    font-weight: bold;
}


/* Shell Costs */

#shell-costs {
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
    padding: 20px 20px 0 20px;
    margin: 30px 15px;
}

.shell-cost-container h3 {
    margin: 0;
    padding-left: 15px;
}

.focus-color-square {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border-radius: 4px;
}

.shell-cost-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#shell-costs p {
    font-size: 14px !important;
}


/* Table properties */

#costTable {
    width: 100%;
    table-layout: fixed;
}

#costTable th:first-child,
#costTable td:first-child {
    width: 40%;
}

#costTable th {
    font-size: 14px;
}


#costTable th:nth-child(2),
#costTable td:nth-child(2) {
    margin-right: 20px;
    width: 20%;
    color: #57B3BD;
    text-align: center;
}

#costTable th:nth-child(3),
#costTable td:nth-child(3) {
    width: 20%;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 5px;
}

.input-container input[type="number"] {
    padding-left: 20px;
    background: #FAFAFA;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #E6E9F0;
    border-radius: 8px;
    box-sizing: border-box;
}

#shell-costs strong {
    font-size: 14px;
    line-height: 17px;
}

.tfoot-cell {
    margin-top: 90px !important;
    padding: 15px 0;
    border-top: solid 1px #E6E9F0;
}

.spacing-div {
    height: 15px;
}

tbody tr:last-child td {
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}


/* Add a £ symbol before text input even while editing */
.currency-symbol {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
}


/* Footer */

footer {
    margin-top: 35px;
    width: 100%;   
    border-radius: 18px 18px 0 0;
}

.menu {
    background-color: white;
    padding: 25px 15px;
    filter: drop-shadow(0px -2px 29px rgba(0, 0, 0, 0.176));
}

.menu img {
    height: 45px;
    display: inline-block;
    padding-bottom: 10px;
}

.menu .col {
    text-align: center;
}

.menu-item {
    text-decoration: none;
    color: #A4A9B4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
}

.selected {
    color: #57B3BD;
    display: inline-block;
}

.budget-menu-item {
    display: inline-block;
}


/* -----------------------
Checklist Home Page
------------------------ */

/* Header */

.hero-background {
    background: url("assets/Large\ Header\ Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

#project-info {
    margin-top: 20px;
    text-align: left;
    margin-left: 25px;
}

#project-type {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 60%;
}

#project-name {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #FFFFFF;
}

/* Menu */

#inline-menu {
    background-color: white;
    padding: 15px 15px;
}

#inline-menu img {
    height: 45px;
    display: inline-block;
    padding-bottom: 10px;
}

/* Checklist Categories */

#checklist-categories {
    padding: 10px 0;
}

.gy-3 {
    --bs-gutter-y: 0;
    --bs-gutter-x: 15px;
}

#checklist-categories .row {
    margin-top: 15px;
}

.grid-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-1 {
    border-bottom: 2px solid #ff694e;
}   

.item-2 {
    border-bottom: 2px solid #f39d4e;
}

.item-3 {
    border-bottom: 2px solid #f0c761;
}

.item-4 {
    border-bottom: 2px solid #57b3bd;
}

.item-5 {
    border-bottom: 2px solid #3399fd;
}

.item-6 {
    border-bottom: 2px solid #a485fe;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #272F3A;
}

#checklist-categories img {
    height: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#checklist-categories p {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A4A9B4;
    margin-top: 10px;
}

/* Expert Consultation */

#expert-consultation {
    background: radial-gradient(71.79% 1273.44% at 85.89% 32.35%, #4DB3BE 0%, #5EC5D0 100%);
    text-align: left;
    
}

#expert-consultation h2 {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

#expert-consultation img {
    height: 130px;
    width: 130px;
}